[submodule "playlist-maker-current"]
	path = playlist-maker-android-AlbahtinIlya
	url = https://github.com/VeXEveryOne/playlist-maker-android-AlbahtinIlya.git
[submodule "playlist-maker-course"]
	path = ya/playlist-maker-android-AlbahtinIlya
	url = https://github.com/VeXEveryOne/playlist-maker-android-AlbahtinIlya.git
