<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Домашняя страница</title></head>
<body>
    <h2>Добро пожаловать, <span th:text="${username}"></span>!</h2>
    <h2>Голосование</h2>
    <form th:action="@{/home}" method="post">
        <label><input type="radio" name="option" value="Java" required /> Java</label><br />
        <label><input type="radio" name="option" value="Python" /> Python</label><br />
        <label><input type="radio" name="option" value="C++" /> C++</label><br />
        <button type="submit">Голосовать</button>
    </form>
    <p th:if="${voteResult}" th:text="${voteResult}"></p>
</body>
</html>
